@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  /* display: inline; */
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  /* width: 100%; */
  width: 300px;
  /* position: relative */
}

/* .wrap {
  display: inline;
} */

.searchTerm {
  float: left;
  width: 300px;
  border: 3px solid rgb(0, 0, 75);
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(0, 0, 75);
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid rgb(0, 0, 75);
  /* background: rgb(0, 0, 75); */
  background: rgb(0, 0, 75);
  
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  /* width: 30%; */
  position: absolute;
  /* position: relative;   */
  /* top: 335px; */
  top: 270px;
  /* left: 500px; */
  margin-left: auto;
  margin-right: auto;
  /* right: 500px; */
  /* left: 500px; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-60%, -500%); */
}