.hiking-widget-container {
  /* background-color:white; */
  min-height:10em;
  width: 500px;
  height: 100%;
  /* height: 250px; */
  /* border-radius:10px; */
  position:relative;
  overflow:hidden;
  box-shadow: rgba(0,0,0,0.12) 0px, 1px, 6px, rgba(0,0,0,0.12) 0px, 1px, 4px;
  margin-top: 30px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden */
}

.location-search-input {
  margin-top: 20px;
}

.autocomplete-dropdown-container {
  margin-top: 40px;
}

.trail-instruction {
  margin: 0 100px;
  padding: 1px 0;
  background-color: lightgrey;
  background: linear-gradient(to right bottom, rgba(170, 170, 170, 0.8), rgba(170, 170, 170, 0.8) );
}

.list-group li {
  display: inline-block;
  margin-bottom: 3px;
}

.search-results {
  margin: 20px 10px;
}

.portrait img {
  background: cover;
}

.row {
  text-align: center;
}

.row b {
  color: rgb(0, 0, 75);
}

.top {
  display: inline-block;
  margin-bottom: 0;
  font-size: 80%;
}

.search-results h3 {
  font-size: 3rem;
  text-align: center;
  margin-top: 70px;
}

.list-item 
{
  /* text-align: center;   */
  margin-top: 5px;
  padding: 10px 0;
  display: inline-block;
  /* float: left; */
  /* background-color: #bdc3c7; */
  background: linear-gradient(to right bottom, rgba(170, 170, 170, 0.8), rgba(170, 170, 170, 0.8) );
  /* border-radius: 10px; */
  /* margin-bottom: 20px; */
}

/* .list-item:hover {
  background-color: lightgrey;
  transition: color 1s;
} */

.trail-name {
  font-size: 90%;
  line-height: 1em;
  height: 3em;
  overflow: hidden;
  /* prevents extra lines from being visible */
  margin-bottom: -50px;
  margin-top: 0;
}

.list-item p {
  font-size: 85%;  
  color: black;
}

.save-hike {
  background-color: rgb(0, 0, 75);
  color: white;
  padding: 10px;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 4px;
}

.wrapper {
  margin-left: -30px;
}

/* button */

.btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center; }

/* button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease; }
  button:hover {
    color: white;
    background: #1ECD97; }
  button:active {
    letter-spacing: 2px; }
  button:after {
    content: ""; } */

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ECD97;
  animation: rotating 2s 0.25s linear infinite; }
  .onclic:after {
    content: ""; }
  .onclic:hover {
    color: #1ECD97;
    background: white; }

.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97; }
  .validate:after {
    font-family: 'FontAwesome';
    content: "\f00c"; }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }


/* For mobile phones: */

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}