.food-widget-modal-container {
  background-color:white;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}


.food-widget-container {
  height:250px;
  box-sizing:border-box;
}

.fw-mc-header {
  font-family:Roboto, sans-serif;
  font-weight:bold;
  margin-top:2em;
  font-size:1.5em;
}

.fw-mc-header-title {
  margin-bottom:.5em;
}



/* SPINNER */


.lds-spinner-container {
  z-index:2;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin-top:15em;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: rgb(15, 15, 15);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.restaurant-module img {
  width:100px;
  height:100px;
  border-radius:4em;
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.507) !important;
}

.rm-rating {
  display:flex;
  padding:'5x';

}

.restaurant-module {
  min-width:15em !important;
  max-width:15em !important;
  height:21em !important;
  padding:1em;
  margin:1em;
}

.fw-mc-results-container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  overflow-x:scroll;
  max-height:100%;
}

.rm-title a{
  text-decoration:none;
  color:black;
}

.fw-mc-cancel-button {
}

.chosen-restaurant-image {
<<<<<<< HEAD
  display:'block';
  border-radius:5px;
=======
  max-width:18em;
  max-height:12em;
  border-radius:8px;
  margin-top:1.5em;
  margin-left:1em;
}
.food-widget-chosen-restaurant-container {
  display:flex;
  flex-direction:row;
}


.fw-cr-divider1 {
  flex-basis:50%;
}

.rm-city {
  margin:1em;
}

.food-search-container {
  padding-top:3em;
}

.fw-cr-divider2 {
  margin:0 auto;

}

.rm-price {
  margin-bottom:1em;
>>>>>>> 06cbc818de8a91b029c35ddfe4a9d9a779484d8d
}