.weather-widget-container {
  background-color:white;
  height:10em;
  width:100%;
  border-radius:10px;
  position:relative;
  overflow:hidden;
  box-shadow: rgba(0,0,0,0.12) 0px, 1px, 6px, rgba(0,0,0,0.12) 0px, 1px, 4px;
}

.weather-widget-header {
  text-align:center;
  font-size:.8em;
  padding:.8em;
  text-transform:uppercase;
  font-weight:bold;
}

.weather-spinner {
  position:absolute;
  width:100%;
  height:100%;
  background-color:rgb(255,255,255, .4);
}

.weather-spinner img {
  width:2em;
  margin:0 auto;
  display:block;
  margin-top:3em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
0% {}
50% {margin-left:3em;}
100% {margin-right:3em;}
}