.drawer {
  /* height: 500px;
  background-color: red; */
}

.my-draggable {
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-color: #cca;
}

.drawer-content {
  position: 'absolute';
  /* height: 1000px; */
}

.widget-button {
  position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
  text-decoration: none;	
  
  background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  width: 275px;
  height: 100px;
}