.landing-container {
  margin: 0 auto;
  text-align: center;
  box-shadow: '0.5px solid rgba(16, 36, 94, 0.2)'
}

.landing-container form {
  margin: 0 auto;
  
}

.prm-btn {
  margin: 12
}

form .name-input {
  display: inline-block;
}

.login-form button{
  margin-bottom: 20px;
}