.style-item {
  position: relative;
  z-index: 0;
  background-color: #f3f3f3;
  border: 1px solid #efefef;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  width: 350px;
  height: 100px;
  display: inline-block;
  margin-bottom: 10px;
}

.style-list {
  width: 400px;
  height: 600px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* border: 1px solid #999; */
}

.left {
  float: left;
}

.right {
  float: right;
  /* position: static; */
  margin-top: -630px;
}