.location-search-input {
    border:0;
    font-size:14px;
    box-shadow: 0 3px 6px 0 rgba(16, 36, 94, 0.2);
    padding: 10px;
    padding-left: 5px;
    width:100%

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:rgba(0, 0, 0, 0.5);
    opacity: 0.6;
    font-size:14px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color:rgba(0, 0, 0, 0.5);
    opacity: 0.6;
    font-size:14px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color:rgba(0, 0, 0, 0.5);
    opacity: 0.6;
    font-size:14px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color:rgba(0, 0, 0, 0.5);
    opacity: 0.6;
    font-size:14px;
  }
.autocomplete-dropdown-container {
    padding:5px 5px 0 5px;
    font-size:14px;
}
.suggestion-item--active {
    padding:10px;
    margin-bottom:5px;
}
.suggestion-item {
    padding:10px;
    margin-bottom:5px;
}
